{% extends "admin/change_form.html" %}
{% load i18n %}
{% block object-tools-items %}
    {{ block.super }}
    <li><a class="historylink" href="/admin/warehouse/predictor/{{object_id}}/update_model/">Update model</a></li>
{% endblock %}
