{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}Update Model | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block content %}
<p>
  This process can take a long time, so please wait for the result.
</p>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}
